<h1><%= @flight.date %></h1>

<p><%= t :from %><%= @flight.from %></p>
<p><%= t :to %><%= @flight.to %></p>
<p><%= t :oil %><%= @flight.oil %></p>
<p><%= t :fuel %><%= @flight.fuel %></p>
<p><%= t :tach %><%= @flight.tach %></p>
<p><%= t :hobbs %><%= @flight.hobbs %></p>
<p><%= t :note %><%= @flight.note %></p>

<%= link_to :flights, :root %>