<p style="color: green"><%= notice %></p>

<%= render @flight %>

<div>
  <%= link_to "Edit this flight", edit_flight_path(@flight) %> |
  <%= link_to "Back to Flights", [@flight.aircraft, :flights]%>

  <br/>

  <%= button_to "Destroy this flight", @flight, method: :delete %>
</div>
